@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* Informações gerais do body */
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url(../../assets/login_registration/darkbackgroundlogo.png);
    background-image: cover;
    background-repeat: no-repeat;
    font-family: 'Bebas Neue', sans-serif;
}
/* Efeito de transparência/opacidade do backgroud */
body::before {
    content: '';
    background-color: rgba(23, 30, 72, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* Posicionamento da caixa de cadastro em relação ao topo da página */
.header {
    text-align: center;
    padding: 10px 50px;
    position: relative;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.75);
    margin-bottom:50px;
}

.header_title {
    color: rgb(255, 255, 255);
}

/* Todas as configurações da caixa de cadastro */
.text_container {
    font-size: 20;
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 100%px;
    margin-left: 50%;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    transform: translateX(-50%);
    z-index: 10;
}

.text_container img {
    text-align: center;
    height: 50px;
}
.text_container p {
    color: aliceblue;
}

.login_body h2 {
    font-size: 32px;
    color: #fff;
    margin-top: 0;
}

.input_box {
    margin-bottom: 25px;
}
/* Configurações do botão */
.text_container button {
    height: 10px;
    color: #fff;
}

.login_body button:hover {
    background-color: #4541b9;
    cursor: pointer;
}
